<section class="contact" id="contact-info">
  <div class="container">
      <h1 class="title">CONTACT</h1>
      <div class="contact-content">
          <p>CONTACT
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
              sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>
      <div class="row">
          <div class="col-5 contact-tab">
              <div class="contact-left">
                  <div class="location">
                      <i class="fa fa-map-marker"></i>

                      <h4>Location :</h4>
                      <p>A108 Adam Street, New York, NY 535022</p>
                  </div>
                  <div class="email">
                      <i class="fa fa-envelope"></i>
                      <h4>Email :</h4>
                      <p>info@example.com</p>
                  </div>
                  <div class="call">
                      <i class='fas fa-mobile-alt'></i>
                      <h4>Call :</h4>
                      <p>+1 5589 55488 55s</p>
                  </div>
                  <iframe
                      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13719.387270160843!2d76.69911865!3d30.7227065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1676737177470!5m2!1sen!2sin"
                      width="100%" height="290" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>


              </div>
          </div>
          <div class="col-7 contact-tab">
              <div class="contact-right contact-r">
                  <form action="">
                      <div class="row form">
                          <div class="col-6 form-name">
                              <label for="name">Your Name</label><br>
                              <input type="text" name="name" id="name" required>
                          </div>
                          <div class="col-6 form-name">
                              <label for="email">Your Email</label><br>
                              <input type="text" name="email" id="email" required>
                          </div>
                      </div>
                      <div class="form-subject form-name">
                          <label for="sub">Subject</label>
                          <input type="text" name="subject" id="sub">
                      </div>
                      <div class="form-text">
                          <label for="">Message</label><br>
                          <textarea name="" id="" rows="13">

                      </textarea>
                      </div>
                      <div class="form-button">
                          <button class="form-btn" type="submit">Send Message</button>
                      </div>
                  </form>

              </div>
          </div>
      </div>
  </div>
</section>
