<link rel="stylesheet"
  href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<div class="studentdetail">
  <form action="" #studentDetail="ngForm" (ngSubmit)="studentForm(studentDetail.value)">
    <label for="">Name</label>
    <input type="name" name="name" placeholder="Enter Name" ngModel required #name="ngModel">
    <span *ngIf="name.invalid && name.touched">Please enter a valid Email</span>
    <label for="">Email</label>
    <input type="email" name="email" placeholder="Enter Email" ngModel>
    <label for="">UserId</label>
    <input type="tel" name="userid" placeholder="Enter Uid" ngModel>
    <label for="">Mobile no.</label>
    <input type="tel" name="phone" placeholder="Enter Email" ngModel>
    <button>Add</button>
  </form>
  </div>



