<!-- <button (click)="addData(name,email)">Add data</button>
<li *ngIf="session"></li>
<h1>Id:{{session.id}}</h1>
<h1>Name:{{session.name}}</h1>
<h1>Email:{{session.email}}</h1> -->

<label for="">Name</label>
<input type="text" placeholder="Enter name" [(ngModel)]="userservice.data.name"><br><br>
<label for="">Email</label>
<input type="text" placeholder="Enter name" [(ngModel)]="userservice.data.email">
<button (click)="userservice.addData()">Add</button>

<li *ngFor="let item of userservice.dataArray">
    <p>Name:{{item.name}}</p>
    <p>Emal:{{item.email}}</p>
<button (click)="userservice.editData(item)">Edit</button>
<button (click)="userservice.removeData(item.Id)">Remove</button>
</li>

<label for="">Name</label>
<input type="text" placeholder="Enter name" [(ngModel)]="userservice.name"><br><br>
<label for="">Email</label>
<input type="text" placeholder="Enter name" [(ngModel)]="userservice.data.email">
<button (click)="userservice.updateData()" *ngIf="userservice.data.Id !==0">update</button>
<!-- <button (click)="updateData(userForm)" *ngIf="data.Id ==0">save</button> -->


