/* ul{
    width:100%

}
ul li{
    padding:50px;
    height: 100px;
    list-style: none;
}
ul li p{
text-align: center;
}
.col-3{
    width:25%;
    margin: 0 15px;
    float:left;
    padding:10px;

}
.col-3 label{
    font-size: 20px;
    font-weight: 600;
    margin-left: 110px;
} */

.list{
  width:1170px;
  padding: 0 60px;
  margin: 20px auto;
}
.container{
  border: 1px solid red;
  background-color: #ddd;
}
.col li{
  list-style-type: none;
  padding: 10px;
  /* border: 1px solid #ddd; */
}
p i{
border: none;
font-size: 20px;
color: red;
cursor: pointer;
}
.model-body input{
  width: 100%;
  border:1px solid red
}
