main
{
    width: calc(100% - 200px);
    margin-left:200PX;
    margin-top: 150px;
}
.box{
  padding: 10px;
  background-color: #ddd;
}

.filter{
  display: inline-block;
  justify-content: space-between;
  gap:20px
}
.filter input{
  margin-left:20px;
}
/* .filter .checkbox{
  margin:10px;
}
.filter .checkbox input{
  margin:10px;

} */


.pagination{
  /* display: flex;
  justify-content: space-around; */

}
.pagination .next{
  display: flex;
  justify-content: flex-end;
}
.pagination button{
  padding: 10px 20px;
  
}



