header{
  width:100%;
  margin-left: 0;
}
.logo-part {
  float: left;
  padding: 8px 0;
}
.logo-part a {
  color: white;
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
ul.navigation > li a {
  font-size: 15px;
  padding: 10px;
  font-weight: 500;
  text-decoration: none;
}

.navigation li .home {
  color: #47b2e4;
}

section {
  padding: 60px 0;
}
section.banner {
  background-color:  #37517f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.left-part h2 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 40px;
}

.col-6 .left-part p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.right-part img {
  width: 100%;
}

.btn {
  width: 100%;
  padding: 18px;
  margin-top: 40px;
  margin-left: -10px;
}
.started {
  padding: 15px 30px;
  border-radius: 40px;
  color: white;
  background: #47b2e4;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}
.started:hover {
  background-color: #0d6efd;
}
.left-part .btn {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.watch {
  color: white;
  cursor: pointer;
  margin-left: 40px;
  font-weight: 500;
  font-size: 16px;
}
.watch i {
  line-height: 1;
  color: #fff;
  font-size: 32px;
  margin-right: 5px;
}

/* clients part */
section.clients {
  background-color: #ddd;
  padding: 20px 0;
}
.clients img {
  filter: grayscale(100%);
  height: 40px;
}
.clients img:hover {
  filter: grayscale(0%);
}
/* About Us */

.text-center {
  text-align: center;
}
.col-6 p {
  font-size: 16px;
  color: #6c757d;
}

h1.title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #37517e;
  margin-bottom: 50px;
  position: relative;
}
h1.title::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: -1px;
  left: calc(50% - 60px);
  margin-top: 30px;
  /* padding-top: 10px; */
}
h1.title::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 2px;
  background: #47b2e4;
  bottom: 1;
  left: calc(50% - 20px);
}
.col-6 .check {
  color: #47b2e4;
  width: 20px;
}
.about-button {
  border: 1px solid #47b2e4;
  color: #47b2e4;
  padding: 10px 25px;
  display: inline-block;
  font-size: 16px;

  font-weight: 300;
  border-radius: 5px;
}
.about-button:hover {
  background-color: #47b2e4;
  color: white;
}

/* Eum-part */



/* @media print{
  .break{
    page-break-after: always;
  }
  .header{
    display: none;
  }
}*/
@media (max-width: 380px) {
  .banner-mobile {
    width: 100%;
  }
  .cloient-mobile {
    width: 100%;
  }
  .started {
    padding: 10px 20px;
  }
}
@media (max-width: 767px) {
  section.banner {
    flex-direction: row-reverse;
  }
  .banner-tab {
    width: 100%;
  }
  .left-part .btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-part img {
    width: 100%;
  }
  .right-part img {
    margin-left: 130px;
  }

  .banner-content > .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .left-part h2 {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }
  .left-part p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
  }
  .row .col-2 {
    width: 50%;
    padding: 10px;
  }
  .about-tab {
    width: 100%;
    margin-top: 40px;
  }
  .eum-tab {
    width: 100%;
  }
  .eum-reverse {
    flex-direction: column-reverse;
    display: flex;
  }
  .service-tab {
    width: 100%;
    padding: 0 20px;
  }
  .action-tab {
    width: 100%;
    text-align: center;
  }
  .team-tab {
    width: 100%;
  }
  .pricing-content {
    text-align: center;
    margin: 0 50px;
  }
  .contact-tab {
    width: 100%;
  }
  textarea {
    resize: none;
    width: 100%;
  }
  .contact-content {
    text-align: center;
    margin: 0 20px;
  }
  .footer-tab {
    width: 100%;
    padding: 0 30px;
    margin: 10px 0 30px;
  }
  .copyright-tab {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .newspara {
    margin: 0 auto;
    width: 100%;
  }
  .action-button-tab {
    width: 100%;
    margin-top: -100px;
    display: flex;
    justify-content: center;
  }
  .team-social-footer {
    float: left;
  }

  .watch {
    float: left;
  }
  .pricing-tab {
    width: 100%;
  }
  .box {
    margin: 0 30px;
  }
  .toggle_btn {
    display: flex;
  }
  ul.navigation {
    position: absolute;
    background: #fff;
    border-radius: 10px;
    left: 0px;
    right: 0px;
    top: 100px;
    width: 280px;
    height: 100vh;
    transform: translateX(-280px);
    transition: 0.5s;
  }
  .navigation {
    background: white;
    color: black;
  }
  .navigation > li {
    width: 100%;
    border-radius: 10px;
  }
  .navigation > li > a {
    color: black !important;
  }
  .toggle_btn.toggle + ul.navigation {
    display: block;
    transform: translateX(0px);
  }
  .toggle_btn.toggle > span:nth-child(1) {
    position: absolute;
    rotate: 45deg;
    top: 10px;
    right: 10px;
  }
  .toggle_btn.toggle > span:nth-child(2) {
    opacity: 0;
  }
  .toggle_btn.toggle > span:nth-child(3) {
    rotate: -45deg;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translateX(0px);
  }
}
