<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header id="myHeader">
    <div class="container">
        <div class="logo-part"><img src="LPU DE.png" alt=""></div>
        <nav>
            <ul class="navigation">
                <li><a routerLink="login">sign In</a></li>
                <li><a routerLink="signup">Sign Up</a></li>

            </ul>
        </nav>
    </div>
</header>
</body>
</html>
